<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.carbon_emission_monitor.dao.DeviceDAO">
    <select id="getDeviceIdListByType"  resultType="java.lang.Integer">
        SELECT device_id
        FROM statistic_device
        WHERE statistic_id = #{statisticType}
    </select>
    <select id="getLatestData" resultType="com.main.carbon_emission_monitor.po.DeviceDataDO">
        SELECT id,value, datetime
        FROM device_data
        WHERE device_id = #{deviceID} AND datetime &lt;= #{date}
        ORDER BY datetime DESC
        LIMIT 1
    </select>

    <select id="getLatestSum" resultType="java.lang.Double">
        SELECT SUM(latest_data.value) as total_value
        FROM (
        SELECT dd.device_id, MAX(dd.datetime) as latest_time
        FROM device_data dd
        INNER JOIN statistic_device sd ON dd.device_id = sd.device_id
        WHERE sd.statistic_id = #{statisticType} -- 这里是传入的参数
        AND dd.datetime &lt;= #{date}
        GROUP BY dd.device_id
        ) as latest_per_device
        INNER JOIN device_data as latest_data
        ON latest_per_device.device_id = latest_data.device_id
        AND latest_per_device.latest_time = latest_data.datetime;
    </select>


</mapper>