<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.carbon_emission_monitor.dao.UserDAO">
    <select id="selectByUsername" resultType="com.main.carbon_emission_monitor.po.UserDO" parameterType="String">
        SELECT * FROM user_entities WHERE username = #{username}
    </select>
    <select id="selectById" resultType="UserDO" parameterType="long">
        SELECT * FROM user_entities WHERE id = #{id}
    </select>
</mapper>